@mixin button {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: none;
  position: relative;
  top: 3px;
  cursor: pointer;
  &:focus {
    border: none;
    opacity: 0.8;
  }
}

.controls-container__window {
  @include button;
  background: url("../../../images/fullicon.svg");
}

.controls-container__window-hide {
  @include button;
  background: url("../../../images/windowicon.svg");
}

@-moz-document url-prefix() {
  .controls-container__window{
    top: -10px;
  }
  .controls-container__window-hide {
    top: -10px;
  }
}
