@mixin button {
  border: none;
  cursor: pointer;
  &:focus {
    border: none;
    opacity: 0.8;
  }
}

.controls-container__play {
  @include button;
  width: 22px;
  height: 25px;
  background: url("../../../images/playicon.svg");

}

.controls-container__pause {
  @include button;
  width: 20px;
  height: 25px;
  background: url("../../../images/pauseicon.svg");
  margin-right: 2px;
}
