@mixin button {
  display: inline-block;
  border: none;
  cursor: pointer;
  &:focus {
    border: none;
    opacity: 0.8;
  }
}

.volume-button-container {
  display: inline-block;
  position: relative;
  left: 35px;
  .volume-button-container__button {
    @include button;
    width: 18px;
    height: 27px;
    background: url("../../../images/soundicon.svg") no-repeat;

  }
  .volume-button-container__button-off {
    @include button;
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url("../../../images/officon.svg") no-repeat;
    background-size: 24px 24px;
  }
  .volume-button-container__volume-container {
    display: inline-block;
    background-color: #818282;
    width: 60px;
    height: 6px;
    border-radius: 4px;
    margin-left: 10px;
    margin-bottom: 8px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    &.special {
      left: 9px;
    }
  }
  .volume-button-container__volume {
    height: 100%;
    background: #fff;
  }
}

@-moz-document url-prefix() {
  .volume-button-container__volume-container {
    top: 12px;
  }
}
