body, html {
  background: #ece7e7;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: black;
  font-family: Arial;
}
.container, #app {
  width: 100%;
  height: 100%;
}
